<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Please Login in</title>

</head>

<body>
	<!-- navebar-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Registation Form</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>

			</ul>
			<form class="form-inline my-2 my-lg-0">
				<a href="login" class="btn btn-light my-2 my-sm-0 mr-1" type="submit">Login</a>
				<a class="btn btn-light my-2 my-sm-0 mr-2" type="submit">Signup</a>
			</form>
		</div>
	</nav>
	<!--end navbar-->

	<form th:action="@{/dologin}" method="post" style="max-width: 330px; padding: 15px; margin: auto;">
		<h2 class="form-signin-heading" style="margin-bottom: 10px; text-align: center;">Please Login in</h2>

		<!-- Message for invalid username/password -->
		<p th:if="${param.error}" style="color: red; text-align: center; margin-bottom: 10px;">Invalid username or
			password</p>

		<!-- Message for successful logout -->
		<p th:if="${param.logout}" style="color: green; text-align: center; margin-bottom: 10px;">You have been logged
			out</p>

		<p>
			<label for="username" class="sr-only">Username</label>
			<input type="text" id="username" name="username" class="form-control" placeholder="Username" required
				autofocus style="margin-bottom: 10px; padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
		</p>
		<p>
			<label for="password" class="sr-only">Password</label>
			<input type="password" id="password" name="password" class="form-control" placeholder="Password" required
				style="margin-bottom: 20px; padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
		</p>
		<button class="btn btn-lg btn-primary btn-block" type="submit" 
			style="padding: 10px 20px; border-radius: 5px; background-color: #007bff; border: none; color: white;">Login
		</button>
		
		
	</form>

</body>

</html>